@media screen and (min-width:360px) and (max-width:640px) {
    .hamburguer {
        display: block;
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 15px;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: ease-in 0.5s;
        padding: 20px 0;
    }

    nav ul li {
        margin: 16px 0;
    }

    nav ul.active {
        left: 0;
    }

    .whatsapp-btn {
        display: none;
    }

    /* TITULO  E SUBTITULO*/
    .titulo {
        font-size: 29px;
    }

    .subtitulo {
        font-size: 16px;
        margin: 20px auto;
    }

    /* swiper banner */
    .swiper-slide img {
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

    /* SOBRE */
    .container-sobre {
        margin: 10px 0;
    }

    .texto-sobre {
        font-size: 16px;
        justify-content: center;
    }

    .container-sobre {
        margin: 20px 10px;
    }

    /* PAINEL  */
    .painel {
        flex-direction: column;
        height: auto;
    }

    .painel img {
        width: 100%;
    }

    .texto-painel {
        margin: -70px 0;
        margin-bottom: 100px;
    }

    .texto-painel h1 {
        font-size: 30px;
    }

    /* CONTATO */
    .container-contato {
        flex-direction: column;
    }

    .card-contato {
        margin: 40px auto;
        width: 100%;
    }

    .card-contato p {
        font-size: 14px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    /* DUVIDAS */
    .dv-lista details summary {
        width: 300px;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 30px;

    }

    .redes-sociais {
        margin-bottom: 20px;
    }

    .socialContainer {
        width: 40px;
        height: 40px;
    }

    footer p {
        flex-direction: column;
        margin-top: 50px;
    }
}

@media screen and (min-width:641px) and (max-width:1024px) {
    .hamburguer {
        display: block;
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 15px;
        border-radius: 0 0 20px 20px;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: ease-in 0.3s;
        background-color: white;
        padding: 20px 0;
    }

    nav ul li {
        margin: 16px 0;
    }

    nav ul.active {
        left: 0;
    }

    .whatsapp-btn {
        display: none;
    }

    .titulo {
        font-size: 24px;
        text-transform: uppercase;
    }

    .subtitulo {
        font-size: 18px;
        margin: 15px 10%
    }

    .painel {
        flex-direction: column;
        height: auto;
    }

    .painel img {
        width: 100%;
    }

    .texto-painel {
        margin: -70px 0;
        margin-bottom: 100px;
    }

    .texto-painel h1 {
        font-size: 30px;
    }

    /* CONTATO */
    .contato {
        padding: 10px;
    }

    .container-contato {
        flex-direction: column;
        margin: auto;
    }

    .contato-form,
    .meios-contato {
        width: 100%;
        margin-bottom: 30px;
    }

    .contato-form h2,
    .meios-contato h2 {
        font-size: 20px;
    }

    .contato-form form input,
    .contato-form form textarea {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 200px;
    }

    /* DUVIDAS */
    .dv-lista details summary {
        width: 600px;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 30px;

    }

    .redes-sociais {
        margin-bottom: 20px;
    }

    .socialContainer {
        width: 40px;
        height: 40px;
    }

    footer p {
        flex-direction: column;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1400px) {
    .pag-planos {
        height: 700px;
    }

    .container-planos {
        display: flex;
        justify-content: center;
    }

    .whatsapp-fixed {
        left: 20px;
    }
}